/* Centering the content vertically and horizontally */
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    background-color: rgb(255, 255, 255);
}

/* Header margin/border/padding */
header{
    padding: 50px;}

    /* Resizing Logos and Images */
    .logo{
        
        display: flex;
        width: 100px;
        justify-content: center;
        align-items: center;
        margin: 10px;
        
    }

    .frontimg{
        display: flex;
        background-color: rgb(255, 255, 255);
        border: 0px solid black;
        width: 400px;
        border: 50px;
    }

/* Footer margin/border/padding */
footer{
    font-family:"staatliches", sans-serif;
    font-size: 10px;
}

/* Main margin/border/padding */
main{padding: 10px;
    justify-content: center;
    align-items: center;
    }

    /* Styling the navigation buttons */
    .navigation{
        display: flex;
        flex-direction: column;
        list-style: none;
        gap: 10px;
        margin: 200 auto;
        padding: 0px;
        font-family:"staatliches", sans-serif;
        font-size: 15px;
        text-align: center;
        text-decoration:none;
        color: black;}
    
    /* unvisited link */
    a:link {
        color: black;
        text-decoration: none;
    }
    
    /* visited link */
    a:visited {
        color: black;
    }
    
    /* mouse over link */
    a:hover {
        color: hotpink;
    }
    
    /* selected link */
    a:active {
        color: black;
    }

    /* Styling the div */
    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 800px;
        padding-top: 20px;
        padding-bottom: 20px;
        color:black;

        
    }

    h2{
        text-align: center;
        font-family:"staatliches", sans-serif;
        font-size: 20px;
        margin: 10px;

    }

    h3{
        display:flow;
        flex-direction: row
        text-align center;
        font-family:"staatliches", sans-serif;
        font-size: 12px;
        margin: 5px;

    }

    p{
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-size: 12px;
        margin: 6px;
    }
    




